# 1. dependencies
node_modules/

# 2. testing
coverage/

# 3. next.js build output
.next/
out/
build/

# 4. secrets 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# 5. OS and Editor
.DS_Store
.vscode/
*.log